@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// fontsize
$Header-xs: 2rem;
$Header-s: 2.5rem;
$header-m: 1.85rem;
$header-b: 3.5rem;

$text-s: 1.2rem;
$text-m: 2rem;

// colors
$headingColor: #333333;
$blueColor: #2d7ffa;
$activeColor: #2d7ff9;
$greyText: #949494;

// images

$creative_teamsImg: url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
$marketingImg: url("https://images.unsplash.com/photo-1533750349088-cd871a92f312?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
$productsImg: url("https://images.unsplash.com/photo-1559056199-641a0ac8b55e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
$projectsImg: url("https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");

h1 {
	font-size: $header-b;
}

h2 {
	font-size: $header-m;
}

h3 {
	font-size: $Header-s;
}
h4 {
	font-size: $Header-s;
}

h1,
h2,
h3.h4,
h5 {
	color: $headingColor;
}
p,
a,
li,
button,
label,
input {
	font-size: $text-s;
}
li {
	color: $greyText;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

ul {
	list-style: none;
}

input[type="email"] {
	background-color: #f2f2f2;
	outline: none;
	border: none;
	padding: 0.55rem 1rem 0.55rem 1rem;
	border-radius: 0.25rem;

	&::placeholder {
		font-weight: 550;
		font-size: 1rem;
	}
}
// hlpers

.container {
	max-width: 72rem;
	margin: 0 auto;
}
.btn {
	background: none;
	border: none;
	outline: none;
	padding: 0.55rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	cursor: pointer;
	font-weight: 600;

	&-primary {
		background-color: $activeColor;
		color: white;

		&:hover {
			background-color: darken($color: $activeColor, $amount: 30%);
		}
	}
}
