@import "global";

@mixin flex($justify, $align, $direction) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

body {
	font-family: "Assistant", sans-serif;
	line-height: 1.25;
	overflow-x: hidden;
	background-color: #ffffff;
	overflow-x: hidden;
	//  @include flex(center,center,row)
}

.active {
	color: $activeColor;
	font-weight: 700;
}

a.link-primary {
	font-size: 1.25rem;
	color: $activeColor;
	font-weight: 600;

	&:hover {
		color: darken($color: $activeColor, $amount: 20%);
	}
}
.small {
	font-size: 0.9rem;
}

.smaller {
	opacity: 0.5;
	font-size: 11px;
}

a.link-secondary {
	font-size: 0.95rem;
	font-weight: 200;
	border-bottom: 2px solid rgba(128, 128, 128, 0.294);
	padding-bottom: 0.15rem;
	font-weight: 600;
	color: $greyText;

	&:hover {
		border-color: $greyText;
	}
}

.menu {
	display: none;

	a {
		color: #f82b60;
		font-weight: 600;

		border-bottom: 1px solid #f82b60;
	}
}

#navbar {
	@include flex(center, center, row);
	flex-wrap: wrap;
	margin-top: 1.5rem;
	//   padding: 2rem 1rem 2rem 1rem;

	.logo {
		font-weight: 600;
		font-size: $Header-xs;
		flex: 1 1 4rem;
	}
	img {
		height: 40px;
	}
	ul {
		@include flex(center, center, row);
		flex: 2;
		transform: translateX(0);
		a {
			padding: 1rem;

			li {
				font-size: 1rem;
				font-weight: 700;
				&:hover {
					color: black;
				}
			}
		}
	}
}

.intro {
	@include flex(space-between, center, row);
	flex-wrap: wrap;
	height: 70vh;

	img {
		height: 70%;
	}

	&-text {
		flex: 1 1 20rem;
		p {
			color: $greyText;
			font-weight: 500;
			font-size: $text-m;
			line-height: 1.2;
			margin: 2rem 0;
		}
	}

	&-form {
		input[type="email"] {
			margin-right: 1.2rem;
		}

		&-helper {
			margin-top: 0.5rem;
			color: $greyText;
			opacity: 0.85;
			font-size: 0.8rem;
		}
	}
}

.tasks {
	background-image: url("../images/bgPink.svg");
	height: 650px;
	background-repeat: no-repeat;
	@include flex(center, center, row);
	flex-wrap: wrap;

	.task {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 3rem;
		justify-content: space-between;

		.images {
			position: relative;

			// // background: url(/images/grid_view.png);
			// background-position: center center / cover;
			// object-fit: cover;
			img:first-child {
				height: 520px;
				width: 850px;
				border-radius: 0.5rem;
			}
			img:last-child {
				height: 400px;
				position: absolute;
				top: 40%;
				right: 135px;
			}

			// background-size: cover;
		}

		&-text {
			@include flex(flex-start, auto, column);
			h2 {
				font-size: 2rem;
			}
			#Tour {
				margin: 1rem 0;
			}

			&-items {
				display: grid;
				grid-template-rows: repeat(5, 1fr);
				grid-gap: 1rem;
				.item {
					@include flex(flex-start, center, row);
					width: 100%;
					opacity: 0.35;
					padding: 0.75rem;
					font-weight: 600;
					cursor: pointer;
					transition: all 0.3s ease;

					p {
						margin-left: 1rem;
					}

					&.activeItem {
						opacity: 1;
						background-color: #d0f0fd;

						border-radius: 1rem;
					}
				}
			}
		}
	}
}

.unleash {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	grid-gap: 5rem;
	padding: 8rem 2rem;
	h1 {
		font-size: 2rem;
	}

	p {
		margin: 1rem 0;
	}
	&-img {
		img {
			width: 100%;
		}
	}
}

.inspration {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	grid-gap: 2rem;
	padding: 5rem 0;

	&-cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;

		.card {
			padding: 0.75rem 0.5rem;
			border-radius: 1rem;
			cursor: pointer;
			div:first-child {
				min-height: 300px;
				background-position: center top;
				background-size: cover;
				border-radius: 1rem;
				background-repeat: no-repeat;
			}
			.creative_teams {
				background-image: $creative_teamsImg;
			}

			.marketing {
				background-image: $marketingImg;
			}

			.products {
				background-image: $productsImg;
			}

			.projects {
				background-image: $projectsImg;
			}

			p {
				font-weight: 600;
				margin-top: 1rem;
				text-transform: uppercase;
			}

			&:hover {
				background-color: rgb(241, 241, 241);
			}
		}
	}
	&-text {
		h2 {
			font-size: 2rem;
		}

		p {
			margin: 1rem 0;
		}
	}
}

.logos {
	padding: 5rem 0;
	p {
		font-weight: 800;
		margin-bottom: 3rem;
		color: $greyText;
	}
	@include flex(center, center, column);

	img {
		width: 100%;
	}
}

.power {
	padding: 5rem 0;
	@include flex(center, center, column);

	&-form {
		margin-top: 2rem;

		&-helper {
			text-align: center;
			line-height: 1.5;
			width: 40%;
			font-size: 0.8rem;
			margin-top: 1rem;
			color: $greyText;
		}
	}
}
footer {
	padding: 5rem 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	color: $greyText;
	img {
		height: 40px;
	}

	.footer-links {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		grid-gap: 5rem;

		&-container {
			@include flex(space-between, flex-start, column);

			a {
				margin-bottom: 0.5rem;
			}

			.top {
				.link-primary {
					font-weight: 500;
					padding-bottom: 0.14rem;
					font-size: 0.9rem;
					border-bottom: 2px solid $activeColor;

					&:hover {
						border-color: darken($color: $activeColor, $amount: 20%);
					}
				}
			}
			.bottom {
				@include flex(center, center, column);
			}
		}
	}
}
@keyframes opacityImg {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@import "quiers";
.closeMenu:hover {
	color: black;
}
